/* excluded */
:root {
	--some-var: red;
}

/* tags */
a,
b,
strong,
html,
body,
body .class,
.class div {
	color: red;
}

/* classes and IDs */
.foo,
#bar,
#id .class,
.class #id {
	color: red;
}

.class-with-numbers-234,
.class-with-from,
.class-with-to {
	color: red;
}

/* pseudo and not */
div::after,
div:after {
	content: '';
}

a:hover,
::selection,
:focus {
	outline: 1px solid blue;
}

.any:not(.selected) {
	color: red;
}

/* attributes */
[class*='any'],
[class^='any-'],
[class*=' any'] {
	color: red;
}

/* keyframes */
@keyframes foo {
	0% {}
	100% {}
}

@keyframes bar {
	from {}
	to {}
}

/* media queries */
@media (min-width: 1024px) {
	.class {
		color: red;
	}
}
